@import 'https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap';
@import url('navbar.css');
@import url('themes.css');
@import url('misc.css');
@import url('tags.css');
body {
  color: var(--text);
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
    padding-left: 200px;
}


i {
display: none; /* Remove any overriding display styles */
}
:root {
  /* Background Colors */
  --background: #090b0d;
  --background2: #0c0e11;
  --background3: #101317;
  --background4: #0d0f12;
  --hoverbackground: #161a1e;

  /* Borders & Outlines */
  --outline: #101114;
  --border: #0096b3;

  /* Primary Theme Colors */
  --theme: #00b0cc;
  --theme2: #008aa6;
  --theme-grad: #00b0cc, #008aa6;
  --theme-rgba: rgba(0, 176, 204, 0.2);

  /* Text Colors */
  --text: #e6e6e6;
  --text2: #00b0cc;
  --text3: #008aa6;
  --text-secondary: #a8a8a8;

  /* Navigation & Buttons */
  --nav-btn: #c0c0c0;
  --nav-btn-hover: #00b0cc; 

  --ray-dark1:  rgba(10, 25, 35, 0.8);  /* Dark cyan for the ray effect */
  --ray-dark2: rgba(0, 140, 166, 0.15);  /* Lighter cyan for softer rays */
  --ray-light1: rgba(0, 176, 204, 0.15); /* Light cyan for subtle glow */
  --ray-light2: rgba(15, 15, 15, 0.15);  /* Slightly darker light cyan */
  --ray-transparent: transparent;         /* Transparent for blending */

}


.desktop-search {
    background-color: var(--background4);
    bottom: 0;
    box-shadow: var(--outline);
    display: flex;
    flex-direction: column;
    left: 0;
    position: fixed;
    top: 0;
    width: 40vw;
    align-items: center;
    z-index: 999;
}


.search-container {
    display: flex;
    align-items: center;
    background-color: var(--background2);
    border-radius: 1vw;
    padding: .5vw 1vw;
    width: 30vw;
    height: 2.5vw;
    margin-top: 2vw;
}

.logo-link {
    margin-right: .5vw;
}

.syft-alt-logo {
  width: 100px;
  transform: rotate(-9deg);
  margin-bottom: -15px;
}

.divi2der {
    height: 100%;
    width: 1px;
    background-color: var(--outline);
    margin-right: .5vw;
}

.search-input {
    flex-grow: 1;
    border: none;
    outline: none;
    font-size: 1vw;
    background-color: transparent;
    color: #fff;
    font-family:Inter;
}

.search-input::placeholder {
    color: var(--text-secondary);
    opacity: 40%;
}

.search-icon img {
    width: 20px;
    height: 20px;
    fill: #1e1e1e;
    pointer-events: none;
}

.search-svg {
    width: 1.3vw;
    height: 1.3vw;
    fill: currentColor;
}

.notavailable {
    background-color: var(--background2);
    border-radius: 1vw;
    padding: 1vw 1vw;
    width: 30vw;
    height: 5vw;
    margin-top: 1vw;
    color: var(--text);
}

.notavailable-text {
    font-size: 1.1vw;
}

.notavailable-paragraph {
    font-size: 1.1vw;
    margin-top: .5vw;
    color: var(--text);
    opacity: 60%;
}

.searchgame {
    display: flex;
    margin-left: 2.4vw;
  }
  .gameframe {
    width: 16vw;
    height: 4vw;
    border-radius: 1vw;
    position: relative;
    overflow: hidden;
    margin-bottom: .6vw;
    background-color: var(--background);
  }

  .gamesearchtitle {
    margin-top: .5vw;
    margin-right: 5vw;
    display: flex;
    font-family: Inter;
    align-items: center;
  }
  .gamesearchicon {
    border-radius: .7vw;
    box-shadow: var(--boxShadow, 0 4px 8px 0 rgba(0, 0, 0, 0.24));
    background: var(--background);
    width: 3vw;
    height: 3vw;
    z-index: 1;
    margin-left: .5vw;
  }
  .searchgametext {
    color: var(--text);
    margin-left: .4vw;
    font-size: 1vw;
  }
  
  .searchdescription {
    display: block;
    color: var(--text);
    opacity: 70%;
    letter-spacing: 0.015vw;
    font: 400 .7vw/.7vw Inter;
    width: 12.76vw;
    margin-left: .4vw;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Number of lines to display */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: .25vw;
  }

  .button {
    align-content: center;
    align-items: center;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    border: none
;
    gap: 6px;
    justify-content: center;
    transition: .2s ease;
}

.icon-shadow {
    width: 81px;
    height: 81px;
    margin-bottom: 15px;
    transform: rotate(-10deg);
    position: relative;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


.get-started {
  background: linear-gradient(45deg, var(--theme-grad));
  border: none;
  font-weight: 500;
  border-radius: 0.8vw;
  margin-top: 1vw;
  margin-right: 1vw;
  font-size: 1.03vw;
  color: var(--text-secondary);
  padding: 1vw 3vw;
  text-decoration: none;
  align-items: center;
  font-family: Inter;
  transition: all 0.5s;
}
.get-started:hover {
  cursor: pointer;
  opacity: 75%;
}
.discord-button {
  background-color: var(--background3);
  border: 1px solid var(--outline);
  font-weight: 500;
  border-radius: 0.8vw;
  margin-top: 0.5vw;
  font-size: 1.03vw;
  color: var(--text-secondary);
  padding: 1vw 3vw;
  text-decoration: none;
  font-family: Inter;
}
.discord-button:hover {
  cursor: pointer;
  background-color: var(--background);
}
.frames {
  background-color: var(--background3);
  width: 100%;
  height: 27vw;
}
.flex {
  display: flex;
}
.toptext {
  text-transform: uppercase;
  font-size: 0.7vw;
  margin-top: 2vw;
}

     .landing {
            height: 650px;
            margin-top: 100px;
        }
        

        
    
        

    .icon {
        width: 20px;
        height: 20px;
    }

    .hero .hero_left .title {
        color: var(--text);
    font-size: 50px;
    line-height: 30px;
    margin-bottom:30px;
    }

    .hero .hero_left .description {
        color: var(--text-secondary);
    font-size: 20px;
    font-weight: 400;
    width: 600px;
    line-height: auto;
    margin-bottom: 40px
    }
     .title_color {
        color: var(--theme);
        font-size: 50px;
        line-height: 64px
    }

.discord {
    border: 1px solid var(--outline);
  font-weight: 500;
  border-radius: 8px;
  padding: 15px 40px;
  font-size: 1.03vw;
  color: var(--text);
  text-decoration: none;
  align-items: center;
  font-family: Inter;
  background: var(--background);
  transition-duration: 0.3s;
  opacity: .7;
}
.discord:hover {
  cursor: pointer;
  opacity: 1;
}

.custom-shape-divider  {
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg)
}

.custom-shape-divider svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 120px
}

.custom-shape-divider .shape-fill {
    fill: var(--background)
}


.carousel-container {
    max-width: 100%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background-color: transparent;
    height: 275px;
    border-radius: 10px;
    padding: 10px;
  }
  
  .carousel {
    display: flex;
    will-change: transform;
    transition: transform 0.3s ease-in-out;
  }
  
  .featured-item {
    flex: 0 0 calc(33.333% - 20px);
    margin: 0 11px;
    margin-top: 1px;
    position: relative;
    width: 225px;
    height: 255px;
    border-radius: 8px;
    overflow: hidden;
    transition: 0.3s ease;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .featured-item:hover {
    transform: scale(1.03);

  }
  .featured-item a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    position: relative; 
  }
  
  .featured-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
  
  .featured-title {
    position: absolute;
    bottom: 6px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(13px);
        color: #fff;
    padding: 5px;
    border-radius: 5px;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 2;
  }
  
  .featured-item:hover .featured-title {
    opacity: 1;
  }
  

    .arrow {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background-color: transparent;
      color: var(--text);
      border: none;
      width: 40px;
      height: 185px;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      z-index: 10;
    }

    .arrow-left {
      left: 10px;
    }

    .arrow-right {
      right: 10px;
    }

    .gradient-left, .gradient-right {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 80px;
      pointer-events: none;
      z-index: 5;
    }

    .gradient-left {
      left: 0;
      background: linear-gradient(to right, var(--background2), transparent 90%);
    }

    .gradient-right {
      right: 0;
      background: linear-gradient(to left, var(--background2), transparent 90%);
    }


    .box-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.trendingtitle {
    font-size: 40px;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 70px;
    font-weight: 600;
    color: var(--text);
    text-align: center;
}

.carousel-frame {
    width: 65%;
    margin: 0 auto;
    
}
.fire-icon {
      color: var(--theme);
      display: inline-block;
    }


.container {
    margin: 0 auto;
    max-width: 1276px;
    padding: 0 10px;
}

.item {
    max-width: 232px;
    width: 100%
}

.item .icon_wrapper {
    background: rgba(0,119,255,.12);
    border-radius: 4px;
    height: 48px;
    margin-bottom: 12px;
    padding: 12px;
    width: 48px
}

.item .icon_wrapper .icon {
    object-fit: cover;
    width: 24px
}

.item .title {
    color: #fff;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 2px
}

.item .description {
    font-weight: 400
}

.feedback {
    background-image: url(/images/DiscordBanner.png);
    margin: auto;
    margin-top: 100px;
    background-position: 50%;
    background-color: var(--background);
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
    overflow: hidden;
    padding: 32px;
    position: relative;
    width: 100%
}


.feedback .description {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 16px;
    text-align: center
}

.feedback .action {
    z-index: 1
}

.feedback:before {
    -webkit-animation: glow 5s ease-in infinite;
    animation: glow 5s ease-in infinite;
    background: #5564ec;
    bottom: -48px;
    content: "";
    -webkit-filter: blur(128px);
    filter: blur(128px);
    height: 144px;
    opacity: .4;
    position: absolute;
    width: 181px
}
.advantages {
    gap: 24px
}

.advantages,.feedback {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 88px
}
.button.secondary.green {
    background: rgba(85, 100, 236, .12);
    color: hwb(234 33% 7%);
}
.button.secondary {
    height: 38px;
    padding: 6px 12px;
}
@-webkit-keyframes glow {
    0% {
        opacity: .4
    }

    50% {
        opacity: .3
    }

    to {
        opacity: .4
    }
}

@keyframes glow {
    0% {
        opacity: .4
    }

    50% {
        opacity: .3
    }

    to {
        opacity: .4
    }
}

.discord_logo {
  width: 200px;
  margin-bottom: 10px;
}


  .hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  .hero_left {
    flex: 1;
    padding-right: 20px;
    opacity: 0;
  }
  
  .hero_right {
    flex: 1;
    opacity: 0;

  }
  
  .scrollcontainer {
    display: flex;
    gap: 10px;
    margin-top: 50px;
    margin-left: 25px;
    position: relative;
    transform: rotate(5deg);
    border-radius: 10px;

}
.scrollcolumn {
    width: 300px;
    height: 600px;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
}

.scrollgame {
    width: 250px;
    height: 250px;
    border-radius: 10px;
    position: absolute;
    transition: transform 0.1s linear;
}

.scrollimg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.scrollcontainer:before {
    -webkit-animation: glow 5s ease-in infinite;
    animation: glow 5s ease-in infinite;
    background: var(--theme);
    content: "";
    -webkit-filter: blur(128px);
    filter: blur(128px);
    height: 250px;
    width: 250px;
    opacity: .4;
    position: absolute;
    top: 50%; /* Centers vertically */
    left: 50%; /* Centers horizontally */
    transform: translate(-50%, -50%); /* Offsets the element to exactly center it */
}


.heartcolor {
    color: var(--theme);
}


.search-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--background);
    padding: 30px;
    height: 300px;
    width: 100%;
    border-radius: 0px;
}
.text-content {
    flex: 1;
    padding-right: 30px;
}
.searchtitle {
    font-size: 28px;
    margin: 0 0 10px;
    color: #fff;
}
.searchdescription {
    font-size: 16px;
    color: var(--text-secondary);
}
.search-box {
    display: flex;
    align-items: center;
    background: #444;
    border-radius: 12px;
    padding: 12px;
    width: 100%;
    max-width: 400px;
}
.search-box i {
    margin-right: 12px;
    color: #aaa;
    font-size: 20px;
}
.search-box input {
    border: none;
    background: none;
    outline: none;
    padding: 10px;
    font-size: 18px;
    color: #fff;
    width: 100%;
}


@keyframes slide-in-left {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    50% {
      transform: translateX(5%);
      opacity: 1;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-right {
    0% {
      transform: translateX(100%);
      opacity: 0;
    }
    50% {
      transform: translateX(-5%);
      opacity: 1;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }


  .card-container {
    display: flex;
    background-color: var(--background2);
    border-radius: 12px;
    overflow: hidden;
    max-width: 1100px;
    margin: auto;
    border: 1px solid var(--outline);
    margin-top: 100px;
    margin-bottom: 100px;
  
  }
  
      #copy-icon {
        cursor: pointer;
        color: var(--text)
      }
  
      .left-card, .right-card {
        padding: 40px;
        color: white;
      }
  
      .left-card {
        flex: 1;
        background-color: var(--background);
      }
  
      .right-card {
        flex: 1;
        background: var(--background3);
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
  
      .left-card h2 {
        font-size: 28px;
        font-weight: 700;
        color: var(--text);
        margin: 0 0 16px 0;
      }
  
      .left-card p {
        font-size: 16px;
        color: var(--text-secondary);
        margin-bottom: 24px;
        line-height: 1.5;
      }
  
       .invite-box {
        background-color: var(--background3);
        border-radius: 8px;
        padding: 10px 16px;
        max-height: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 200px;
        font-size: 14px;
        margin-bottom: 16px;
      }
  
      .invite-box code {
        color: var(--text);
        background: none;
      }
  
      .join-btn {
        background-color: var(--theme);
        border-radius: 8px;
        padding: 10px 16px;
        max-height: 20px;
        height: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 200px;
        font-size: 14px;
        margin-bottom: 16px;
        color: var(--text);
        text-decoration: none;
      }
      .discord-icon {
        width: 24px;
        height: 24px;
      }
  
      .right-card h3 {
        font-size: 20px;
        font-weight: 700;
        margin-top: 16px;
        color: var(--text)
      }
  
      .right-card p {
        font-size: 15px;
        color: var(--text-secondary);
        margin-top: 8px;
        line-height: 1.4;
        max-width: 320px;
      }
      .action-row {
    display: flex;
    gap: 12px;
    align-items: center;
  }
  
   .play-button {
      position: relative;
      background-color: var(--theme);
      color: var(--text); /* Ensuring text is visible */
      width: 100px;
      border: none;
      font-weight: 500;
      border-radius: 10px;
      padding: 15px 40px;
      font-size: 1.03vw;
      text-decoration: none;
      align-items: center;
      font-family: Inter, sans-serif;
      cursor: pointer;
      outline: none;
  }
  .play-button:hover {
    transform: scale(1.05); /* Slight scaling to make it pop */
  
  }
  .play-button::after {
      content: "";
      width: 100%;
      height: 100%;
      background: var(--theme2);
      position: absolute;
      left: 0;
      right: 0;
      bottom: -4px;
      margin: 0 auto;
      z-index: -1;
      opacity: 0;
      border-radius: 10px;
  
  }
  
  .button_text {
      position: relative;
      z-index: 10;
  }
  
  .play-button img {
      position: absolute;
      inset: 0;
      margin: auto;
      pointer-events: none;
      transition: 0.1s linear;
      opacity: 0;
  }
  
  .button_joystick {
      width: 28px;
      transform: translate(-25px, -6px) rotate(55deg);
      filter: blur(0.5px);
  }
  
  .button_controller {
      width: 38px;
      transform: translate(7px, -14px) rotate(80deg);
  }
  
  .button_laptop {
      width: 36px;
      transform: translate(34px, -4px) rotate(-45deg);
      filter: blur(0.9px);
  }
  
  .button_coin {
      width: 28px;
      transform: translate(-5px, 15px) rotate(40deg);
  }
  
  .play-button:hover::after {
      opacity: 1;
  }
  
  .play-button:hover {
      transform: scale(1.3);
  }
  
  .play-button:hover img {
      opacity: 1;
  }
  
  .play-button:hover .button_joystick {
      transform: translate(-108px, -10px) scale(1.5);
  }
  
  .play-button:hover .button_controller {
      transform: translate(7px, -32px) scale(1.1);
  }
  
  .play-button:hover .button_laptop {
      transform: translate(120px, -20px) scale(1.5);
  }
  
  .play-button:hover .button_coin {
      transform: translate(-24px, 30px) scale(1.3);
  }
  
  .header-title {
        text-align: center;
        font-size: 2.5rem;
        font-weight: 800;
        color: var(--text);
        margin-top: 100px
      }
      
      .header-subtitle {
        text-align: center;
        margin-top: 0.5rem;
        font-size: 1rem;
        color: var(--text-secondary)
      }
  
      .partners-grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1.5rem;
        margin: 2rem auto;
        max-width: 1500px;
        margin-bottom: 100px;
      }
  
      .partner-card {
        background-color: var(--background);
        border-radius: 12px;
        padding: 1.5rem;
        position: relative;
        border: 1px solid var(--outline);
        transition: transform 0.3s ease;
        width: 400px;
        flex-shrink: 0;
        height: 135px;
      }
  
      .partner-card:hover {
        transform: translateY(-5px);
      }
  
      .partner-header {
        display: flex;
        align-items: center;
        gap: 1rem;
        margin-bottom: 1rem;
      }
  
      .partner-logo {
        width: 4rem;
        height: 4rem;
        border: 1px solid var(--outline);
        background-color: var(--background2);
        border-radius: 50%;
      }
  
      .partner-name {
        font-size: 1.25rem;
        font-weight: 600;
        margin: 0;
        color: var(--text)
      }
  
      .partner-description {
        font-size: 0.95rem;
        color: var(--text-secondary)
      }
  
      .partner-link-icon {
        position: absolute;
        top: 1rem;
        right: 1rem;
      }
  
      .partner-link-icon svg {
        width: 16px;
        height: 16px;
        color: var(--text-secondary)
      }
  
  
  
      .faq-container {
        width: 100%;
        max-width: 940px;
        display: flex;
        flex-direction: column;
        gap: 16px;
        margin: 0 auto;
      }
  
      .faq-heading {
        text-align: center;
        font-size: 32px;
        font-weight: bold;
        margin-bottom: 20px;
        color: var(--text);
      }
  
      .faq-card {
        background-color: var(--background);
        border-radius: 12px;
        overflow: hidden;
        transition: all 0.3s ease;
        border: 1px solid var(--outline);
      }
  
      .faq-card-header {
        padding: 20px;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: background 0.3s ease;
      }
  
      .faq-card-header:hover {
        background-color: var(--background3);
      }
  
      .faq-card-header-text {
        font-size: 18px;
        font-weight: 600;
      }
  
      .faq-card-icon {
        width: 20px;
        height: 20px;
        transition: transform 0.3s ease;
        flex-shrink: 0;
        fill: var(--text);
      }
  
      .faq-card.active .faq-card-icon {
        transform: rotate(180deg);
      }
  
      .faq-card-body {
        overflow: hidden;
        transition:  0.5s ease;
        height: 0;
      }
  
      .faq-card-body-content {
        padding: 14px 20px 20px;
        opacity: 0;
        transform: translateY(10px);
        transition: opacity 0.3s ease, transform 0.3s ease;
        color: var(--text-secondary);
      }
  
      .faq-card.active .faq-card-body-content {
        opacity: 1;
        transform: translateY(0);
      }
  
      .signup-container {
      max-width: 900px;
      margin: 60px auto;
      background-color: var(--background);
      border: 1px solid var(--outline);
      border-radius: 10px;
      display: flex;
      overflow: hidden;
    }
  
    .signup-left, .signup-right {
      padding: 40px;
      flex: 1;
    }
  
    .signup-left h2 {
      margin-bottom: 10px;
      font-size: 28px;
    }
  
    .signup-left p {
      color: #b0b0b0;
      font-size: 14px;
      margin-bottom: 25px;
    }
  
    .signup-form {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
  
    .signup-form .input-group {
      position: relative;
    }
  
    .signup-form input {
      width: 100%;
      padding: 14px 50px 14px 14px;
      border: none;
      border-radius: 8px;
      background-color: var(--background3);
      color: white;
      font-size: 14px;
      transition: background-color 0.3s;
    }
  
    .signup-form input:focus {
      outline: 2px solid var(--theme);
      background-color: var(--background);
    }
  
    .input-group svg {
      position: absolute;
      right: 15px;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
      color: #aaa;
    }
  
    .signup-form button {
      padding: 14px;
      background-color: var(--theme);
      border: none;
      border-radius: 10px;
      color: white;
      font-weight: bold;
      font-size: 15px;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }
  
    .signup-form button:hover {
      opacity: .9;
    }
  
    .signup-right {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      background-color: var(--background3);
    }
  
    .signup-right svg {
      width: 80px;
      height: 80px;
      color: var(--theme);
      margin-bottom: 10px;
    }
  
    .signup-right p {
      color: #b0b0b0;
      font-size: 14px;
    }
  
    .signup-right a {
      color: #3498db;
      text-decoration: none;
      font-weight: bold;
    }
  
    .signup-right a:hover {
      text-decoration: underline;
    }
  
    .signup-right-title {
      font-size: 20px;
      margin-bottom: 10px;
    }
  
    @media (max-width: 700px) {
      .signup-container {
        flex-direction: column;
      }
  
      .signup-left {
        border-bottom: 1px solid var(--outline);
      }
    }






